{% extends "layout.jinja2" %}

{% block content %}
<div class="page-wrap">
  <section id="main">
    <section id="galleries">
      <div class="gallery">
        {% if already_logged_in %}
          <a href="{{request.route_url('logout')}}" class="badge badge-primary" style="float:right">LOGOUT</a>
        {% endif %}
        <header class="special">
          {% if not already_logged_in %}
            <h2>My Gallery</h2>
          {% else %}
            <h2>My Gallery - Click on image to accept</h2>
          {% endif %}
        </header>
        <div class="content">
          {% for image in images %}
            <div class="media">
              {% if already_logged_in %}
                <a href="/accept?key={{image.key}}"><img src="{{image.url}}" alt="" title="" /></a>
              {% else %}
                <img src="{{image.url}}" alt="" title="" />
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <div class="column">
    {% if not already_logged_in %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendNewImage">
        Send to us a new image
      </button>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">
        Login
      </button>
    {% endif %}

    <div class="modal fade" id="sendNewImage" tabindex="-1" role="dialog" aria-labelledby="sendNewImageLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form action="/image" method="post" enctype="multipart/form-data">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="sendNewImageLabel">Send to us a new image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="field half first">
                <input name="file" type="file">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input value="Send" class="btn btn-primary" type="submit">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form action="/login" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="field half first">
               <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" name="username" class="form-control" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input value="Login" name="form.login.submitted" class="btn btn-primary" type="submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
