<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('gallery:static/pyramid-16x16.png')}}">
    <title>My Gallery</title>
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{request.static_url('gallery:static/theme.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{request.static_url('gallery:static/main.css')}}" />

  </head>

  <body>

    <div class="starter-template">
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    </div>


    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js" integrity="sha384-aBL3Lzi6c9LNDGvpHkZrrm3ZVsIwohDD7CDozL0pk8FwCrfmV7H9w8j3L7ikEv6h" crossorigin="anonymous"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js" integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4" crossorigin="anonymous"></script>
      <script src="{{request.static_url('gallery:static/jquery.poptrox.min.js')}}"></script>
      <script src="{{request.static_url('gallery:static/jquery.scrolly.min.js')}}"></script>
  </body>
</html>
